{% extends "base.html" %}

{% block title %}
Thermos -- Welcome
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>Thermos is a simple social bookmarking site.</p>
        </header>
        <section>
            <h2>article section</h2>
            <p>{{ user.firstname }} {{ user.lastname }}</p>
        </section>
        <section>
            <h2>article section</h2>
            <p>Initials: {{ user.initials() }}</p>
        </section>
    </article>
{% endblock %}